<header class="site-header">

  <div class="wrapper">

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    <a class="site-title" href="{{ site.baseurl }}/">The (Un)intelligent Investor</a>

    <nav class="site-nav">
      <div class="trigger">
        <!-- {% for my_page in site.pages %}
          {% if my_page.title and my_page.hidenav != true %}
            {{ my_page.hidenav }}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %} -->
        <a class="page-link" href="/">Home</a>
        <a class="page-link" href="/about">About</a>
        <a class="page-link" href="/til">today i learned</a>
      </div>
    </nav>

  </div>

</header>
